@import "../../../shared/reset";

.notifications {
  margin: 10px 0;
}

.toolControls {
  display: flex;
  line-height: 35px;
  padding: 15px 0;
}

.searchComponent {
  width: 180px;
}

.filterComponent {
  flex: 1; // ie11
  flex-grow: 1;
}

.exportComponent {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
