@import "../../../../shared/reset.scss";
@import '../../../../shared/variables.scss';

$defaultMeasurement: 28px;

.rwOverrides {
  *,
  * * {
    &:focus {
      outline: none;
    }
  }

  margin-top: 2px;
  position: relative;

  :global .rw-btn-calendar::before {
    content: "\f073";
    font-family: FontAwesome;
  }

  :global .rw-datetimepicker {
    display: inline-block;
    margin: 0;
    max-width: 200px;
    position: relative;
    width: 100%;

    :global .rw-select {
      position: absolute;
      height: 30px;
      width: 30px;
      right: 0;

      :global .rw-btn-calendar {
        background: 0;
        border-radius: 0 2px 2px 0;
        border: 1px solid palette(gray, dark);
        border-left: none;
        cursor: pointer;
        height: 30px;
        transition: background 0.3s ease;
        width: 30px;

        &:hover {
          background: palette(orange);
          color: white;
        }
      }
    }
  }

  :global .rw-footer {
    display: none;
  }

  :global .rw-input {
    border-radius: 2px;
    border: 1px solid palette(gray, dark);
    cursor: text;
    height: 30px;
    padding-right: 60px;
    width: 100%;

    &:placeholder-shown {
      padding-left: 5px;
    }
  }

  :global .rw-calendar {
    background-color: #fff;
    border: 1px solid palette(gray, dark);
  }

  :global .rw-calendar thead > tr {
    border-bottom: 2px solid palette(gray);
  }

  :global .rw-calendar .rw-header {
    padding-bottom: 5px;
  }

  :global .rw-calendar .rw-header .rw-btn-left,
  :global .rw-calendar .rw-header .rw-btn-right {
    background: white;
    border: 0;
    cursor: pointer;
    height: 25px;
    transition: background 0.3s ease;
    width: 12.5%;

    &:hover {
      background: palette(orange);
      color: white;
    }
  }

  :global .rw-calendar .rw-header .rw-btn-left::before {
    content: "\f0d9";
    font-family: FontAwesome;
  }

  :global .rw-calendar .rw-header .rw-btn-right::before {
    content: "\f0da";
    font-family: FontAwesome;
  }

  :global .rw-calendar .rw-header .rw-btn-view {
    background-color: white;
    border: none;
    height: 25px;
    transition: background 0.3s ease;
    width: 75%;

    &:hover {
      background: palette(orange);
      color: white;
    }
  }

  :global .rw-calendar .rw-header .rw-btn-view[disabled] {
    box-shadow: none;
    cursor: not-allowed;
  }

  :global .rw-calendar .rw-footer {
    border-top: 1px solid palette(gray, dark);
  }

  :global .rw-calendar .rw-footer .rw-btn {
    width: 100%;
    white-space: normal;
  }

  :global .rw-calendar .rw-footer .rw-btn:hover {
    background-color: palette(gray, light);
  }

  :global .rw-calendar .rw-footer .rw-btn[disabled] {
    box-shadow: none;
    cursor: not-allowed;
  }

  :global .rw-calendar .rw-state-selected {
    background-color: palette(blue, light); // TODO: Pick a better color
  }

  :global .rw-calendar-grid {
    height: 14.28571429em;
    table-layout: fixed;
    width: 100%;
  }

  :global .rw-calendar-grid th {
    text-align: right;
    padding: 0 0.4em 0 0.1em;
  }

  :global .rw-calendar-grid .rw-btn {
    width: 100%;
    text-align: right;
  }

  :global .rw-calendar-grid td .rw-btn {
    border-radius: 4px;
    display: flex;
    height: 100%;
    justify-content: center;
    outline: 0;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: palette(orange);
      color: white;
    }
  }

  :global .rw-calendar-grid td .rw-btn.rw-off-range {
    color: #b3b3b3;
  }

  :global .rw-calendar-grid.rw-nav-view .rw-btn {
    display: flex;
    overflow: hidden;
    text-align: center;
    white-space: normal;
    align-items: center;
  }

  :global .rw-calendar-popup.rw-popup-container {
    position: absolute;
  }
}

.removeButton {
  background: none;
  border: none;
  cursor: pointer;
  height: $defaultMeasurement;
  position: absolute;
  top: 1px;
  transition: background 0.3s ease;
  vertical-align: middle;
  width: $defaultMeasurement;
  margin-left: ($defaultMeasurement * 2 + 2px) * -1;

  &:hover {
    background: palette(orange);
    color: white;
  }
}
