@import '../../../../shared/variables.scss';

$defaultMeasurement: 28px;

.colFlex {
  display: flex;
  flex-direction: column;
}

.input {
  border-radius: 2px;
  border: 1px solid palette(gray, dark);
  cursor: text;
  height: 30px;
  max-width: 200px;
  outline-width: 0;

  &:placeholder-shown {
    padding-left: 5px;
  }
}

.input[type="number"]::-webkit-outer-spin-button,
.input[type="number"]::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.input[type="number"] {
  -moz-appearance: textfield;
}

.inputWrapper {
  composes: colFlex;
  position: relative;
}

.removeButton {
  background: none;
  border: none;
  cursor: pointer;
  height: $defaultMeasurement;
  left: 171px;
  position: absolute;
  top: 1px;
  transition: background 0.3s ease;
  vertical-align: middle;
  width: $defaultMeasurement;

  &:focus {
    outline: none;
  }

  &:hover {
    background: palette(orange);
    color: white;
  }
}
