@import '../../../../shared/variables.scss';

.colFlex {
  display: flex;
  flex-direction: column;
}

.input {
  height: 30px;
  max-width: 200px;
  cursor: text;
}

.input[type="number"]::-webkit-outer-spin-button,
.input[type="number"]::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.input[type="number"] {
  -moz-appearance: textfield;
}

.input {
  border-radius: 2px;
  border: 1px solid palette(gray, dark);
  outline-width: 0;

  &:placeholder-shown {
    padding-left: 5px;
  }
}
