@import "../../../../shared/reset.scss";
@import "../../../../shared/variables.scss";

$h: 30px;
$p: 5px;

.inputIcon {
  background: 0;
  border: 0;
  font-size: 12px;
  height: $h - 2;
  line-height: $h - 2;
  margin-left: -29px;
  margin-top: 1px;
  text-align: center;
  width: $h - 2;
}

.busy {
  composes: inputIcon;
  animation-duration: 1.5s;
  animation-name: spin;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  background-image:
    url(
      "data:image/svg+xml;base64,PHN2ZyB4bWxucz\
      0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxNicgaGVpZ2h\
      0PScxNic+PGVsbGlwc2UgY3g9IjgiIGN5PSI4IiByeD0iNyIgcnk9IjciIHN0\
      cm9rZS13aWR0aD0iMiIgc3Ryb2tlLW9wYWNpdHk9JzAuNScgc3Ryb2tlPSIjY\
      2NjIiBmaWxsPSJub25lIiAvPjxwYXRoIGQ9J00gMSA4IEEgOCA4IDAgMCAwID\
      QgMTMuNycgZmlsbD0nbm9uZScgc3Ryb2tlPScjRjQ3RTQyJyAgc3Ryb2tlLXd\
      pZHRoPScyJyBzdHJva2Utb3BhY2l0eT0nMC44JyAvPjwvc3ZnPg=="
    );
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 16px 16px;
}

.caret {
  composes: inputIcon;
  cursor: pointer;
  display: block;

  .arrow {
    cursor: pointer;
    display: block;
    transition: transform 0.3s ease;

    &.expanded {
      transform: rotate(180deg);
    }
  }

  &:focus {
    outline: 0;
  }
}

.childItem {
  padding: 2px ($p + 10);
}

.dropdown {
  border: 0;
  box-sizing: border-box;
  cursor: pointer;
  max-height: 0;
  margin-top: -1px;
  overflow: hidden;
  position: absolute;
  transition: all 0.15s ease;
  width: 100%;

  &.expanded {
    background: #fff;
    border: 1px solid #666;
    height: auto;
    max-height: 300px;
    overflow: auto;
    z-index: 10;
  }
}

.dropdownContainer {
  position: relative;
}

.input {
  display: block;
  height: $h;
  line-height: $h;
  padding: 0 56px 0 4px;
  width: 100%;
  max-width: 200px;
  cursor: text;
}

.inputContainer {
  overflow: hidden;
  position: relative;
  display: flex;
}

.item {
  align-items: center;
  background: 0;
  border: 0;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  margin-bottom: 3px;
  text-align: left;
  padding: 2px $p;
  width: 100%;

  * {
    cursor: pointer;
  }

  &.disabled,
  &.disabled *, {
    color: #aaa;
    cursor: not-allowed;
  }
}

.itemIcon {
  height: $h;
  margin-right: 5px;
  display: flex;
  width: $h;
}

.nomatch {
  padding: 10px;
}

.picker {
  position: relative;
}

.removeButton {
  background: none;
  border: none;
  cursor: pointer;
  height: 28px;
  left: 144px;
  position: absolute;
  top: 1px;
  transition: background 0.3s ease;
  vertical-align: middle;
  width: 28px;

  &:focus {
    outline: none;
  }

  &:hover {
    background: palette(orange);
    color: white;
  }
}

.ungroupedItem {
  cursor: pointer;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
