{
  "extends": "airbnb",
  "globals": {
    "CustomEvent": true,
    "document": true,
    "history": true,
    "localStorage": true,
    "sessionStorage": true,
    "window": true,
  },
  "parser": "babel-eslint",
  "plugins": [
    "babel"
  ],
  "rules": {
    "comma-dangle": ["error", "never"],
    "id-length": 0,
    "jsx-quotes": [2, "prefer-single"],
    "jsx-a11y/label-has-for": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "no-unused-expressions": [2, { "allowShortCircuit": true, "allowTernary": true }],
    "react/jsx-no-bind": 1,
    "react/jsx-no-duplicate-props": 2
  }
}
