@import "../../../shared/variables";

.container {
  background: #fff;
  border-radius: 2px;
}

.head {
  padding: 0 2px;
}

.title {
  font-size: 14px;
  margin-right: 20px;
}

.caret {
  color: #7b7b7b;
}

.option {
  font-size: 14px;
}
