@import "../../../shared/variables";

$h: 36px;
$delay: 0.5s;

.container {
  background: palette(gray, light);
  border-radius: 5px;
}

.title {
  font-size: 14px;
}

.caret {
  color: #7b7b7b;
}

.body {
  background: palette(gray, light);
}

.option {
  font-size: 14px;
}
