$h: 32px;
$delay: 0.4s;

.container {
  background: #fff;
  border-radius: 2px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  max-height: $h;
  overflow: hidden;
  transition: all $delay ease;

  &.expanded {
    height: auto;
    max-height: 300px;
  }

  * {
    box-sizing: border-box;
    cursor: default;
  }
}

.head {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  height: $h;
  padding: 0 2px;
  width: 100%;

  &:hover {
    background: #eee;
  }

  &:focus {
    outline: 0;
  }
}

.icon {
  cursor: pointer;
  display: flex;
  height: 20px;
  margin: 0 10px;
  width: 20px;
}

.title {
  cursor: pointer;
  display: flex;
  font-size: 14px;
  margin: 0 5px;
}

.caret {
  color: #7b7b7b;
  cursor: pointer;
  display: block;
  font-size: 16px;
  margin: 0 10px 0 auto;
  transition: all $delay ease;

  &.expanded {
    transform: rotate(180deg);
  }
}

.body {
  background: inherit;
}

.option {
  cursor: pointer;
  display: block;
  font-size: 14px;
  padding: 5px;
  width: 100%;

  &:hover {
    background: #eee;
  }

  &:focus {
    outline: 0;
  }
}
