.container {
  margin: 20px auto;
  width: 90%;
}

.sectionTitle {
  color: #57595d;
  font-family: sans-serif;
  font-size: 18px;
  margin: 40px auto 0 auto;
  text-transform: uppercase;
  width: 90%;
}
