@import "../../shared/reset.scss";
@import "../../shared/variables.scss";

$itemH: 24px;

.container {
  padding-top: 30px;
  position: relative;
}

.dropdownContainer {
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 2px;
  box-shadow: 0;
  max-height: 0;
  min-width: 300px;
  opacity: 0;
  overflow: hidden;
  position: relative;
  transition: max-height 0.3s ease, opacity 0.3s ease;
  width: 100%;

  &::after {
    border: 8px solid transparent;
    border-bottom-color: #777;
    content: '';
    position: absolute;
    right: 3px;
    top: -16px;
  }

  &.expanded {
    border-color: #c2c2c2;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    height: auto;
    max-height: 460px;
    opacity: 1;
  }
}

.dropdownHead {
  border-bottom: 1px solid #f2f2f2;
  height: 60px;
  padding: 10px 15px;
  text-align: left;
  user-select: none;
}

.dropdownBody {
  max-height: 400px;
  overflow: auto;
  padding: 5px 0;
}

.button {
  border-radius: 2px;
  color: #888;
  cursor: pointer;
  height: 24px;
  line-height: 24px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  transition: background 0.2s ease, color 0.2s ease;
  width: 24px;

  &:hover {
    background: #ddd;
    color: #fff;
  }
}

.title {
  font-size: 16px;
  font-weight: bold;
  height: 20px;
  line-height: 20px;
}

.reset {
  color: palette(blue, dark);
  cursor: pointer;
  font-size: 13px;
  line-height: 20px;
  padding-left: 5px;

  &:hover {
    text-decoration: underline;
  }
}

.item {
  align-items: center;
  cursor: pointer;
  display: flex;
  padding: 5px 10px 5px 20px;

  &.grab {
    opacity: 0.4;
  }

  &:hover {
    background: url('./gripper.svg') no-repeat 3px center #eee;
    background-size: 14px 20px;
  }

  &.locked {
    background: 0;
    border: 0;
    box-shadow: none;
    cursor: not-allowed;
  }
}

.itemCheckbox {
  cursor: pointer;
  flex-shrink: 0;
  margin-right: 5px;
}

.itemLabel {
  cursor: pointer;
}

.itemLock {
  border-radius: 2px;
  color: #999;
  cursor: pointer;
  flex-shrink: 0;
  height: $itemH;
  line-height: $itemH;
  margin-left: auto;
  text-align: center;
  transition: color 0.3s ease;
  width: $itemH;

  &.isLocked {
    color: #444;
  }

  &:hover {
    background: #ddd;
  }
}

.itemLockPlaceholder {
  cursor: pointer;
  height: $itemH;
  width: $itemH;
}

.ghost {
  box-shadow: 0 2px 4px 0 palette(gray, dark);
  background-color: palette(blue, xlight);
  border-top: 1px solid palette(blue, light);
  border-bottom: 1px solid palette(blue, light);
  height: $itemH;
}
