@import '../../../shared/variables';

$buttonH: 24px;
$itemH: 24px;

.button {
  border-radius: 2px;
  color: #888;
  cursor: pointer;
  font-size: 16px;
  height: $buttonH;
  line-height: $buttonH;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  transition: background 0.2s ease, color 0.2s ease;
  width: $buttonH;

  &:hover {
    background: #ddd;
    color: #fff;
  }
}

.container {
  box-sizing: border-box;
  padding-top: $buttonH;
  position: relative;
  width: 250px;

  * {
    box-sizing: border-box;
    cursor: default;
    margin: 0;
    padding: 0;
  }
}

.controlDivider {
  font-size: 15px;
  margin: 0 ($m * 2);
}

.controls {
  align-items: center;
  display: flex;
  margin-top: $m * 2;
}

.dropdownBody {
  background: #fff;
  border: 1px solid #c2c2c2;
  border-top: 0;
}

.dropdownContainer {
  $bezier: cubic-bezier(0, 0.2, 0.5, 1);

  border-radius: 2px;
  box-shadow: 0;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  position: relative;
  transition: max-height 0.3s ease, opacity 0.3s $bezier;
  top: -4px;

  &.expanded {
    box-shadow: -8px 8px 8px -8px rgba(0, 0, 0, 0.26);
    height: auto;
    max-height: 460px;
    opacity: 1;
  }
}

.dropdownHead {
  background: #fff;
  border: 1px solid #c2c2c2;
  padding: $p * 2;
  text-align: left;
  user-select: none;
}

.dropdownTriangle {
  $h: 16px;

  height: $h / 2;
  position: relative;
  right: -1px;

  &::after {
    border: 8px solid transparent;
    border-bottom-color: #bbb;
    bottom: 0;
    content: '';
    position: absolute;
    right: 5px;
    top: #{1 - $h};
    z-index: 1;
  }

  &::before {
    border: 7px solid transparent;
    border-bottom-color: #fff;
    bottom: -1px;
    content: '';
    position: absolute;
    right: 6px;
    z-index: 2;
  }
}

.ghost {
  box-shadow: 0 2px 4px 0 $darkGray;
  background-color: $xLightBlue;
  border-top: 1px solid $lightBlue;
  border-bottom: 1px solid $lightBlue;
  height: $itemH;
}

.item {
  align-items: center;
  cursor: pointer;
  display: flex;
  padding: ($p / 2) ($p * 2);

  &.grab {
    opacity: 0.4;
  }

  &:hover {
    background: no-repeat 1px center #eee;
    background-image:
      url(
        "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcm\
        cvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNSAyNSI+PGRlZnM+PHN0eWxlPi5jaXJ7Zm\
        lsbDojMzQzNzM5O308L3N0eWxlPjwvZGVmcz48Y2lyY2xlIGNsYXNzPSJjaXIiIGN4PS\
        I5IiBjeT0iMiIgcj0iMiIvPjxjaXJjbGUgY2xhc3M9ImNpciIgY3g9IjE2IiBjeT0iMi\
        Igcj0iMiIvPjxjaXJjbGUgY2xhc3M9ImNpciIgY3g9IjkiIGN5PSI5IiByPSIyIi8+PG\
        NpcmNsZSBjbGFzcz0iY2lyIiBjeD0iMTYiIGN5PSI5IiByPSIyIi8+PGNpcmNsZSBjbG\
        Fzcz0iY2lyIiBjeD0iOSIgY3k9IjE2IiByPSIyIi8+PGNpcmNsZSBjbGFzcz0iY2lyIi\
        BjeD0iMTYiIGN5PSIxNiIgcj0iMiIvPjxjaXJjbGUgY2xhc3M9ImNpciIgY3g9IjkiIG\
        N5PSIyMyIgcj0iMiIvPjxjaXJjbGUgY2xhc3M9ImNpciIgY3g9IjE2IiBjeT0iMjMiIH\
        I9IjIiLz48L3N2Zz4="
      );
    background-size: 14px 20px;
  }

  &.locked {
    background: 0;
    border: 0;
    box-shadow: none;
    cursor: not-allowed;
  }
}

.itemCheckbox {
  cursor: pointer;
  flex-shrink: 0;
  margin-right: $m;
}

.itemContainer {
  max-height: 250px;
  overflow: auto;
}

.itemLabel {
  cursor: pointer;
}

.itemLock {
  border-radius: 2px;
  color: #999;
  cursor: pointer;
  flex-shrink: 0;
  height: $itemH;
  line-height: $itemH;
  margin-left: auto;
  text-align: center;
  transition: color 0.3s ease;
  width: $itemH;

  &.isLocked {
    color: #444;
  }

  &:hover {
    background: #ddd;
  }
}

.itemLockPlaceholder {
  cursor: pointer;
  height: $itemH;
  width: $itemH;
}

.reset {
  color: $darkBlue;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.selectAll {
  align-items: center;
  cursor: pointer;
  display: flex;
}

.title {
  font-size: 15px;
  font-weight: bold;
}
