@import "../../shared/reset.scss";

$h: 30px;
$p: 10px;
$delay: 0.2s;
$searchH: 26px;

.filterContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.clearAllFilters {
  cursor: pointer;
  line-height: $h;
  margin-left: 20px;
  outline: 0;
  padding: 0;

  &:hover {
    text-decoration: underline;
  }
}

.dropdownContainer {
  box-sizing: border-box;
  margin-bottom: 5px;
  margin-right: 10px;
  opacity: 1;
}

.dropdownHead {
  border: 1px solid #ccc;
  cursor: pointer;
  display: flex;
  line-height: $h;
  max-width: 200px;
  padding-left: 10px;
  text-overflow: ellipsis;

  &.expanded {
    border-radius: 2px 2px 0 0;
  }

  &:hover {
    background: #eee;
  }

  &:focus {
    outline: 0;
  }
}

.dropdownBody {
  background: #fff;
  max-height: 0;
  margin-top: -1px;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  transition: all $delay ease;
  width: 215px;

  &.expanded {
    border: 1px solid #ccc;
    height: auto;
    max-height: 310px;
  }
}

.dropdownTitle {
  overflow: hidden;
  padding: 0 5px 0 2px;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dropdownCaret {
  cursor: pointer;
  font-size: 16px;
  margin-left: auto;
  min-width: $h;
  text-align: center;
  transition: all 0.3s ease;

  .arrow {
    cursor: pointer;
    display: block;
    height: $h;
    line-height: $h;

    &.expanded {
      transform: rotate(180deg);
    }
  }

  &:focus {
    outline: 0;
  }

  &:hover {
    background: #ddd;
  }
}

.dropdownLoading {
  animation-duration: 1.5s;
  animation-name: spin;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  background-image:
    url(
      "data:image/svg+xml;base64,PHN2ZyB4bWxucz\
      0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxNicgaGVpZ2h\
      0PScxNic+PGVsbGlwc2UgY3g9IjgiIGN5PSI4IiByeD0iNyIgcnk9IjciIHN0\
      cm9rZS13aWR0aD0iMiIgc3Ryb2tlLW9wYWNpdHk9JzAuNScgc3Ryb2tlPSIjY\
      2NjIiBmaWxsPSJub25lIiAvPjxwYXRoIGQ9J00gMSA4IEEgOCA4IDAgMCAwID\
      QgMTMuNycgZmlsbD0nbm9uZScgc3Ryb2tlPScjRjQ3RTQyJyAgc3Ryb2tlLXd\
      pZHRoPScyJyBzdHJva2Utb3BhY2l0eT0nMC44JyAvPjwvc3ZnPg=="
    );
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  height: $h;
  margin-left: auto;
  min-width: $h;
}

.inactiveItem {
  cursor: pointer;
  padding: 0 $p;

  &:hover {
    background: #e7e7e7;
  }
}

.emptyMessage {
  padding: 10px;
}

.activeCount {
  margin: 0 5px;
}

.activeRemove {
  background: 0;
  border: 0;
  cursor: pointer;
  display: block;
  height: $h;
  line-height: $h;
  margin-left: -$p;
  min-width: $h;
  outline: 0;
  text-align: center;

  &:hover {
    background: #ddd;
  }
}

.activeSearch {
  height: $searchH;
  margin-top: 10px;
  padding: 0 $p;
  position: relative;
  width: 100%;
}

.activeInput {
  cursor: text;
  display: block;
  height: $searchH;
  padding-right: $searchH;
  width: 100%;
}

.activeIcon {
  font-size: $searchH / 2;
  height: 100%;
  line-height: $searchH;
  position: absolute;
  right: $p;
  text-align: center;
  top: 0;
  width: $searchH;
}

.activeControls {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin: 5px 0;
  padding: 0 $p;
}

.activeControl {
  background: none;
  border: 0;
  cursor: pointer;
  font-size: 13px;
  line-height: 20px;
  margin: 0 3px;
  padding: 0;
  vertical-align: top;

  &:focus {
    outline: 0;
  }
}

.activeCount {
  margin-right: 5px;
}

.activeDivider {
  margin: 0 5px;
}

.activeItem {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  padding: 5px $p;

  &:hover {
    background: #e7e7e7;
  }
}

.activeCheckbox {
  cursor: pointer;
  flex-shrink: 0;
  margin-right: 10px;
}

.activeText {
  cursor: pointer;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
