@import '../../../shared/variables';

$h: 30px;

.activeCheckbox {
  cursor: pointer;
  flex-shrink: 0;
  margin-right: $m;
}

.activeControl {
  background: none;
  border: 0;
  color: $darkBlue;
  cursor: pointer;
  font: $fontSize $main-font;
  padding: 0;
  vertical-align: top;

  &:focus {
    outline: 0;
  }

  &:hover {
    color: $darkGray;
  }
}

.activeControls {
  padding: $p ($p * 2);
}

.activeCount {
  margin: 0 $m;
}

.activeDivider {
  margin: 0 $m;
}

.activeIcon {
  font-size: $fontSize;
  line-height: $h;
  position: absolute;
  right: $p;
  text-align: center;
  top: 0;
  width: $h;
}

.activeInput {
  border: 1px solid $darkGray;
  border-radius: $borderRadius;
  cursor: text;
  display: block;
  font: $fontSize $main-font;
  height: $h;
  padding-left: $p - 2; // border adjustment
  width: 100%;

  &:focus {
    outline: none;
  }
}

.activeItem {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  padding: $p ($p * 2) $p $p;

  &:hover {
    background: $lightGray;
  }
}

.activeItems {
  overflow-y: auto;
}

.activeRemove {
  background: 0;
  border: 0;
  cursor: pointer;
  display: block;
  height: $h;
  margin-left: -$m;
  min-width: $h;
  outline: 0;
  padding: 0 $p;
  text-align: center;
  transition: $transition;

  &:hover {
    background: $darkGray;
    color: $white;
  }
}

.activeSearch {
  height: $h;
  margin-top: $m;
  padding: 0 $p;
  position: relative;
  width: 100%;
}

.activeText {
  cursor: pointer;
}

.clearAllFilters {
  color: $darkBlue;
  cursor: pointer;
  line-height: $h;
  margin-left: $m;
  outline: 0;

  &:hover {
    color: $darkGray;
    text-decoration: none;
  }
}

.dropdownBody {
  background: $white;
  box-shadow: $shadow;
  display: flex;
  flex-direction: column;
  margin-top: -1px;
  max-height: 0;
  max-width: 225px;
  min-width: 200px;
  overflow-x: hidden;
  position: absolute;
  transition: $transition;

  &.expanded {
    border: 1px solid $darkGray;
    border-radius: 0 $borderRadius $borderRadius;
    height: auto;
    max-height: 310px;
  }
}

.dropdownCaret {
  cursor: pointer;
  font-size: 16px;
  min-width: $h;
  text-align: center;

  .arrow {
    cursor: pointer;
    display: block;
    height: $h;
    line-height: $h;

    &.expanded {
      transform: rotate(180deg);
    }
  }

  &:focus {
    outline: 0;
  }
}

.dropdownContainer {
  margin: 0 $m $m 0;
}

.dropdownHead {
  border: 1px solid $darkGray;
  border-radius: $borderRadius;
  color: $black1;
  cursor: pointer;
  display: flex;
  line-height: $h;
  max-width: 200px;
  padding-left: $p;
  text-overflow: ellipsis;

  &.expanded {
    border-radius: $borderRadius $borderRadius 0 0;
  }

  &:focus {
    outline: 0;
  }
}

.dropdownLoading {
  animation-duration: 1.5s;
  animation-name: spin;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  background-image:
    url(
      "data:image/svg+xml;base64,PHN2ZyB4bWxucz\
      0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxNicgaGVpZ2h\
      0PScxNic+PGVsbGlwc2UgY3g9IjgiIGN5PSI4IiByeD0iNyIgcnk9IjciIHN0\
      cm9rZS13aWR0aD0iMiIgc3Ryb2tlLW9wYWNpdHk9JzAuNScgc3Ryb2tlPSIjY\
      2NjIiBmaWxsPSJub25lIiAvPjxwYXRoIGQ9J00gMSA4IEEgOCA4IDAgMCAwID\
      QgMTMuNycgZmlsbD0nbm9uZScgc3Ryb2tlPScjRjQ3RTQyJyAgc3Ryb2tlLXd\
      pZHRoPScyJyBzdHJva2Utb3BhY2l0eT0nMC44JyAvPjwvc3ZnPg=="
    );
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  height: $h;
  margin-left: auto;
  min-width: $h;
}

.dropdownTitle {
  overflow: hidden;
  padding: 0 $p;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.emptyMessage {
  padding: $p * 2;
}

.filterContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font: $fontSize $main-font;

  * {
    box-sizing: border-box;
  }
}

.inactiveItem {
  cursor: pointer;
  padding: $p ($p * 2);

  &:hover {
    background: $lightGray;
  }
}

.itemList {
  overflow-y: auto;
}

.singleSelection {
  font-size: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.singleSelectionDropdownTitle {
  font-size: 10px;
  line-height: normal;
  overflow: hidden;
  padding: 0 5px 0 2px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
