@import "../../shared/variables.scss";

.clearAllFilters {
  color: #1e519f;

  &:hover {
    color: palette(orange);
  }
}

.dropdownHead {
  border-radius: 2px;
  border: 1px solid palette(gray, dark);
  color: palette(black);

  &:hover {
    background: none;
  }
}

.dropdownBody {
  box-shadow: 0 1px 2px palette(gray, light);

  &.expanded {
    border: 1px solid palette(gray, dark);
  }
}

.dropdownCaret {
  transition: all 0.15s ease;

  &:hover {
    background: palette(orange);
    color: #fff;
  }
}

.activeRemove {
  transition: all 0.15s ease;

  &:hover {
    background: palette(orange);
    color: #fff;
  }
}

.activeControl {
  color: #1e519f;

  &:hover {
    color: palette(orange);
  }
}
