$h: 30px;
$p: 5px;

.active {
  background: inherit;
}

.container {
  position: relative;

  * {
    box-sizing: border-box;
  }
}

.title {
  align-items: center;
  border: 1px solid gray;
  display: flex;
  overflow: hidden;
  padding-right: $h;
  position: relative;

  .slot {
    font-family: inherit;
  }

  .staticText {
    flex-grow: 1;
    height: $h;
    line-height: $h;
    padding: 0 4px;
  }
}

.input {
  border: 0;
  cursor: text;
  display: block;
  flex-grow: 1;
  font-size: 13px;
  height: $h;
  line-height: $h;
  padding: 0 24px 0 4px;
}

.inputIcon {
  background: 0;
  border: 0;
  display: block;
  font-size: 12px;
  height: $h;
  line-height: $h;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: $h;

  &:hover {
    background: #ddd;
    cursor: pointer;
  }
}

.caret {
  composes: inputIcon;
  border-left: 1px solid #999;
  cursor: pointer;
  display: block;

  .arrow {
    cursor: pointer;
    display: block;
    font-size: 13px;
    margin-top: 2px;
    transition: transform 0.3s ease;

    &.expanded {
      transform: rotate(180deg);
    }
  }

  &:focus {
    outline: 0;
  }
}

.clear {
  composes: inputIcon;
  right: $h;

  &::before {
    content: '\00D7';
    display: block;
    font-size: 16px;
    height: 16px;
    line-height: 16px;
  }
}

.spinner {
  composes: inputIcon;
  animation-duration: 1.5s;
  animation-name: spin;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  background-image:
    url(
      "data:image/svg+xml;base64,PHN2ZyB4bWxucz\
      0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxNicgaGVpZ2h\
      0PScxNic+PGVsbGlwc2UgY3g9IjgiIGN5PSI4IiByeD0iNyIgcnk9IjciIHN0\
      cm9rZS13aWR0aD0iMiIgc3Ryb2tlLW9wYWNpdHk9JzAuNScgc3Ryb2tlPSIjY\
      2NjIiBmaWxsPSJub25lIiAvPjxwYXRoIGQ9J00gMSA4IEEgOCA4IDAgMCAwID\
      QgMTMuNycgZmlsbD0nbm9uZScgc3Ryb2tlPScjRjQ3RTQyJyAgc3Ryb2tlLXd\
      pZHRoPScyJyBzdHJva2Utb3BhY2l0eT0nMC44JyAvPjwvc3ZnPg=="
    );
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 16px 16px;
}

.dropdownContainer {
  position: relative;
}

.dropdown {
  border: 0;
  box-sizing: border-box;
  cursor: pointer;
  max-height: 0;
  margin-top: -1px;
  overflow: hidden;
  position: absolute;
  transition: all 0.15s ease;
  width: 100%;

  &.expanded {
    background: #fff;
    border: 1px solid #666;
    height: auto;
    max-height: 300px;
    z-index: 100;
  }
}

.empty {
  padding: 10px;
}

.item {
  align-items: center;
  background: 0;
  border: 0;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  margin-bottom: 3px;
  text-align: left;
  padding: 2px $p;
  width: 100%;

  * {
    cursor: pointer;
  }

  &.disabled,
  &.disabled *, {
    color: #aaa;
    cursor: not-allowed;
  }
}

.itemIcon {
  height: $h;
  margin-right: 5px;
  display: flex;
  width: $h;
}

.itemText {
}

.groupItem {
  // color: seagreen;
}

.childItem {
  // color: firebrick;
  padding: 2px ($p + 10);
}

.ungroupedItem {
  // color: turquoise;
  cursor: pointer;
}

.controls {
  line-height: $h;
  margin: 5px 0;
  padding: 0 10px;

  .controlsButton {
    background: 0;
    border: 0;
    border-radius: 2px;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    padding: 3px;
    text-decoration: none;
    vertical-align: middle;

    &:hover {
      text-decoration: underline;
    }
  }

  .controlsSpacer {
    display: inline-block;
    margin: 0 3px;
    vertical-align: middle;
  }

  &:hover {
    background: #e7e7e7;
  }
}

.itemsContainer {
  max-height: 250px;
  overflow-y: auto;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
