@import "../../../shared/variables";

$h: 36px;

.notification {
  border: 1px solid;
  border-radius: 2px;
  box-sizing: border-box;
  line-height: $h;
  margin: 5px 0 0 0;
  padding: 0 10px;
  position: relative;

  * {
    box-sizing: border-box;
    cursor: default;
  }
}

.hidden {
  display: none;
}

.title {
  display: inline-block;
  font-weight: bold;
  line-height: 1;
  margin-right: 15px;
  vertical-align: middle;
}

.body {
  display: inline-block;
  line-height: 1;
  vertical-align: middle;
}

.alertInfo {
  background: palette(blue, xlight);
  border-color: palette(blue, dark);
  color: palette(blue, dark);

  :global .fa-times {
    color: palette(blue, dark);

    &:hover {
      color: palette(blue);
    }
  }

  .btnCancel:hover {
    background: palette(blue, dark);
    color: palette(white);
  }
}

.alertSuccess {
  background: #dff0d8;
  border-color: #336b34;
  color: #336b34;

  :global .fa-times {
    color: #336b34;
  }

  .btnCancel:hover {
    background: #336b34;
    color: palette(white);
  }
}

.alertError {
  background: palette(red, xlight);
  border-color: palette(red);
  color: palette(red);

  :global .fa-times {
    color: palette(red);

    &:hover {
      color: palette(red, light);
    }
  }

  .btnCancel:hover {
    background: palette(red);
    color: palette(white);
  }
}

.btnCancel {
  cursor: pointer;
  font-size: 16px;
  height: $h;
  line-height: $h;
  margin-top: #{-$h / 2};
  position: absolute;
  right: 0;
  text-align: center;
  top: 50%;
  transition: background-color 0.1s ease, color 0.1s ease;
  width: $h;

  .fa {
    cursor: pointer;
  }
}
