@import "../../../shared/reset";

.asyncLoad {
  display: block;
  min-height: 200px;
  position: relative;

  &.loading .asyncLoadFadeContainer {
    opacity: 0;

    &::after {
      bottom: 0;
      content: ' ';
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  .asyncLoadFadeContainer {
    opacity: 1;
    transition: opacity 0.5s ease;
  }

  &.loading::before,
  &.loading::after {
    opacity: 1;
    width: 100px;
    height: 100px;
  }

  &::before {
    content: attr(data-text);
    font-size: 10px;
    height: 20px;
    left: 50%;
    letter-spacing: 1.2px;
    line-height: 20px;
    margin-left: -50px;
    opacity: 0;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    transition: opacity 0.5s ease;
    top: 135px;
    width: 100px;
  }
}
