.tableContainer {
  // border: 10px solid #663399;
  margin: 50px auto;
  overflow: auto;
  width: 90%;
}

.btnUncheck {
  margin: 20px;
  padding: 4px;
}

.sidebarCell,
.groupSidebarCell,
.headSidebarCell {
  // background: rgba(255, 0, 0, 0.05) !important;
  // border-left: 1px solid red;
  font-size: 11px;
}
