@import "../../../shared/variables";

.container {
  padding-bottom: 10px;
}

.title {
  color: $lightGray;
}

.tab {
  background-color: $white;
  border-bottom: 2px solid $white;
  border-color: $white;
  color: $darkGray;

  &:hover {
    border-bottom: 2px solid $lightGray;
  }
}

.active,
.active:hover {
  border-bottom: 2px solid $darkGray;
}
