@import "../../shared/reset.scss";

$defaultSpacing: 5px;

.cancel {
  color: blue;
  cursor: pointer;
  margin-right: $defaultSpacing;
  transition: color 0.3s ease;

  &:hover {
    color: orange;
  }
}

.container {
  background: pink; // TODO: Take out
  display: flex;
  flex-direction: column;
}

.fields {
  background: crimson; // TODO: Take out
  display: flex;
  flex: 7;
}

.footer {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: $defaultSpacing;
}

.fieldsContainer {
  background: skyblue; // TODO: Take out
  display: flex;
  flex-direction: column;
  margin-left: $defaultSpacing;
  justify-content: space-between;
  width: 100%;
}

.itemContainer {
  margin-bottom: 5px;
}

.itemsTitle {
  background: gold; // TODO: Take out
  display: flex;
  flex-direction: row;
}

.itemsContainer {
  background: lightgreen; // TODO: Take out
  height: 100%;
  margin-right: $defaultSpacing;
  min-height: 250px;
  width: 100%;
}

.removeButton {
  background: none;
  border: none;
  margin-left: $defaultSpacing;
  margin-right: $defaultSpacing;
  margin-top: $defaultSpacing;
  transition: color 0.3s ease;

  &:hover {
    color: red;
  }
}

.selectedItems {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  flex: 3;
  max-width: 250px;
}

.subContainer {
  display: flex;
  flex-direction: row;
}

.submitButton {
  background: white;
  border-radius: 2px;
  border: 1px solid black;
  cursor: pointer;
  margin-right: 5px;
  padding: 8px 15px;
  transition: background 0.3s ease;

  &:hover {
    border: 1px solid orange;
    color: white;
    background: orange;
  }
}

.title {
  display: flex;
  flex-direction: row;
}
