$h: 30px;
$p: 5px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.picker {
  position: relative;
}

.inputContainer {
  overflow: hidden;
  position: relative;
}

.input {
  display: block;
  height: $h;
  line-height: $h;
  padding: 0 (2 * $h + 4) 0 4px;
  width: 100%;
}

.inputIcon {
  background: 0;
  border: 0;
  display: block;
  font-size: 12px;
  height: $h - 2;
  line-height: $h - 2;
  position: absolute;
  right: 1px;
  text-align: center;
  top: 1px;
  width: $h - 2;
}

.caret {
  composes: inputIcon;

  cursor: pointer;

  &:focus {
    outline: 0;
  }
}

.maxResults {
  composes: inputIcon;

  color: #ffc500;
  font-size: 16px;
  right: $h;
}

.busy {
  composes: inputIcon;

  animation-duration: 1.5s;
  animation-name: spin;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz\
    0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxNicgaGVpZ2h\
    0PScxNic+PGVsbGlwc2UgY3g9IjgiIGN5PSI4IiByeD0iNyIgcnk9IjciIHN0\
    cm9rZS13aWR0aD0iMiIgc3Ryb2tlLW9wYWNpdHk9JzAuNScgc3Ryb2tlPSIjY\
    2NjIiBmaWxsPSJub25lIiAvPjxwYXRoIGQ9J00gMSA4IEEgOCA4IDAgMCAwID\
    QgMTMuNycgZmlsbD0nbm9uZScgc3Ryb2tlPScjRjQ3RTQyJyAgc3Ryb2tlLXd\
    pZHRoPScyJyBzdHJva2Utb3BhY2l0eT0nMC44JyAvPjwvc3ZnPg==");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 16px 16px;
}

.dropdownContainer {
  position: relative;
}

.dropdown {
  border: 0;
  cursor: pointer;
  max-height: 0;
  margin-top: -1px;
  overflow: hidden;
  padding: 5px;
  position: absolute;
  transition: all 0.15s ease;
  width: 100%;

  &.expanded {
    background: #fff;
    border: 1px solid #666;
    height: auto;
    max-height: 300px;
    overflow: auto;
  }
}

.nomatch {
  padding: 10px;
}

.item {
  align-items: center;
  background: 0;
  border: 0;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  margin-bottom: 3px;
  text-align: left;
  padding: 2px $p;
  width: 100%;
}

.itemIcon {
  height: $h;
  margin-right: 5px;
  display: flex;
  width: $h;
}

.groupItem {
  // color: seagreen;
}

.childItem {
  // color: firebrick;
  padding: 2px ($p + 10);
}

.ungroupedItem {
  // color: turquoise;
}

.controls {
  margin: 3px;

  .controlsButton {
    background: 0;
    border: 0;
    border-radius: 2px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    padding: 3px;
    text-decoration: none;
    vertical-align: middle;

    &:hover {
      text-decoration: underline;
    }
  }

  .controlsSpacer {
    display: inline-block;
    margin: 0 3px;
    vertical-align: middle;
  }
}

@keyframes spin {
    from {
      transform:rotate(0deg);
    }

    to {
      transform:rotate(360deg);
    }
}
