.container {
  display: flex;
}

.slotAttach {
  border: 1px solid #aaa;
  cursor: pointer;
  flex: 1;
  margin-right: 10px;
  padding: 10px;

  &:hover {
    background: #ddd;
  }
}

.slotDrag {
  background: #ddd;
  border: 1px solid #aaa;
  flex: 5;
  padding: 10px;

  &.dragHover {
    background: #eee;
  }
}

.fileInput {
  display: none;
}
