@import '../../../shared/variables';

.container {
  font-family: sans-serif;
  position: relative;

  * {
    box-sizing: border-box;
    user-select: none;
  }
}

.clearButton {
  background: white;
  border: 1px solid white;
  color: black;
  height: 30px;
  margin-left: 8px;
  width: 30px;

  &:hover {
    background: $darkGray;
    border: 1px solid $darkGray;
    color: white;
  }

  &:focus {
    outline: none;
  }

  &::before {
    content: '\00D7';
    display: block;
    font-size: 16px;
    height: 16px;
    line-height: 14px;
  }
}

.dropdownContainer {
  position: relative;
}

.dropdown {
  border: 1px solid transparent;
  border-radius: 2px;
  box-sizing: border-box;
  max-height: 0;
  margin-top: -1px;
  overflow: hidden;
  position: absolute;
  transition: all 0.15s ease;

  &.expanded {
    background: $white;
    border: 1px solid $darkGray;
    border-radius: 0 2px 2px 2px;
    box-shadow: $shadow;
    height: auto;
    max-height: 320px;
    z-index: 100;
  }
}

.head {
  align-items: center;
  border-radius: 2px;
  border: 1px solid $darkGray;
  display: flex;
  height: 32px;
  overflow: hidden;
  padding-left: 8px;
  position: relative;
  width: 161px;

  &.expanded {
    border-radius: 2px 2px 0 0;
  }
}

.input {
  border-radius: 1px;
  border: 0;
  cursor: text;
  font-size: 13px;
  height: 20px;
  line-height: 28px;
  min-width: 24px;
  padding: 0;
  text-align: center;

  &.invalid {
    background: $xLightRed;
  }

  &:focus {
    background: $lightGray;
    outline: 0;
  }
}

.input::-webkit-inner-spin-button,
.input::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}

.inputYear {
  composes: input;
  min-width: 40px;
}

.slash {
  margin: 0 4px;
}

.days {
  font-size: 0;
  padding: 8px;
  width: 296px;
}

.day {
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  height: 28px;
  line-height: 28px;
  margin: 2px 4px;
  text-align: center;
  width: 32px;

  &:hover {
    background: $lightGray;
  }

  &.selected {
    background: $darkGray;
    color: $white;
  }
}

.month {
  align-items: center;
  border-bottom: 1px solid $darkGray;
  display: flex;
  padding: 12px 16px;
}

.monthTitle {
  cursor: default;
  flex-grow: 1;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
}

.dayTitle {
  composes: day;

  cursor: default;
  font-weight: 600;

  &:hover {
    background: 0;
  }
}

.dayActive {
  composes: day;
}

.dayPrevious,
.dayNext {
  composes: day;

  color: #ccc;

  &.selected {
    background: $lightGray;
  }
}

.arrow {
  cursor: pointer;
  font-size: 13px;
  text-align: center;

  &::before {
    font-family: 'fontawesome';
  }
}

.leftArrow {
  composes: arrow;

  &::before {
    content: '\f053';
  }
}

.rightArrow {
  composes: arrow;

  &::before {
    content: '\f054';
  }
}
