$black1: #343739;
$black2: #8d9299;

$xdarkGray: #676767;
$darkGray: #939393;
$gray: #c3c2c2;
$lightGray: #e7e7e7;
$xLightGray: #f2f2f2;

$darkBlue: #1e519f;
$blue: #83b9d5;
$lightBlue: #cfe2e8;
$xLightBlue: #f2f6f9;

$green1: #4dc489;
$green2: #9fceb6;

$red: #d33d3d;
$lightRed: #e08585;
$xLightRed: #fcc;

$white: #fff;


$borderRadius: 2px;
$borderWidth: 1px;

$main-font: sans-serif;
$fontSize: 13px;

$m: 8px;
$p: 8px;

$shadow: 0 1px 4px -1px rgba(52, 55, 57, 0.7);
$transition: all 0.2s ease-in;


$font-awesome: (
  sort-none: '\f1db',
  sort-desc: '\f0d8',
  sort-asc: '\f0d7',
  pencil: '\f040'
);
