@import "../../../shared/reset";

$side: 30px;

.search {
  display: block;
  position: relative;
  vertical-align: top;
}

.input {
  border: 1px solid #444;
  box-sizing: border-box;
  font-size: 13px;
  height: $side;
  margin: 0;
  padding: 2px 2 * $side 2px 5px;
  position: relative;
  width: 100%;

  &:focus {
    outline: 0;
  }

  &::-ms-clear {
    display: none;
  }
}

.btn-base {
  cursor: pointer;
  height: $side - 2;
  line-height: $side - 2;
  position: absolute;
  text-align: center;
  top: 1px;
  transition: background-color 0.1s ease, color 0.1s ease;
  width: $side;

  &:hover {
    background-color: #ddd;
  }

  .fa {
    cursor: pointer;
  }
}

.btn-submit {
  composes: btn-base;
  border: solid #444;
  border-width: 0 0 0 1px;
  right: 1px;
}

.btn-clear {
  composes: btn-base;
  right: $side + 1;
}

.hidden {
  display: none;
}
