@import "../../shared/variables";

$borderWidth: 1px;
$fontSize: 13px;
$h: 32px;
$m: 8px;
$p: 8px;

.btnBase {
  background: palette(white);
  color: palette(black);
  cursor: pointer;
  font-size: $fontSize;
  line-height: $h - ($borderWidth * 2);
  position: absolute;
  text-align: center;
  top: $borderWidth;
  transition: $default-trans;
  width: $h;

  &:hover {
    background-color: palette(orange);
    color: palette(white);
  }
}

.btnClear {
  composes: btnBase;
  right: $h + ($borderWidth * 2);
}

.btnSubmit {
  border: solid palette(gray, dark);
  border-width: 0 0 0 $borderWidth;
  border-radius: 0 ($default-border-radius - 1) ($default-border-radius - 1) 0;
  composes: btnBase;
  right: $borderWidth;
}

.hidden {
  display: none;
}

.input {
  background: palette(white);
  border: $borderWidth solid palette(gray, dark);
  border-radius: $default-border-radius;
  box-sizing: border-box;
  color: palette(black);
  cursor: text;
  font: $fontSize $main-font;
  height: $h;
  padding: 0 ($h * 2) 0 $p;
  width: 100%;

  &:focus {
    outline: 0;
  }

  &::-ms-clear {
    display: none;
  }
}

.searchContainer {
  position: relative;
  width: 260px; // industry standard: search bar should allow ~27 char
}
