@import "../../../shared/variables";

$containerH: 45px;
$itemH: 17px;

.paginator {
  background-color: palette(gray, xlight);
  height: $containerH;
  line-height: $containerH;
}

.item,
.prev,
.next {
  border-radius: 2px;
  color: palette(black);
  transition: all 0.2s ease;

  &:hover {
    background: palette(gray);
    color: palette(white);
  }
}

.active,
.active:hover {
  background: palette(gray, dark);
  color: palette(white);
}

.ellipsis {
  color: palette(gray);
}
