@import "../../../shared/reset";

.paginator {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  padding: 0 10px;
  width: 100%;
}

.meta {
  margin-right: auto;
}

.item,
.prev,
.next {
  background: 0;
  border: 0;
  cursor: pointer;
  display: flex;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  margin-right: 5px;
  padding: 0 5px;
  text-decoration: none;
  text-transform: uppercase;
  user-select: none;

  &:focus {
    outline: 0;
  }
}

.active,
.active:hover {
  background: #eee;
  cursor: default;
  font-weight: 700;
}

.ellipsis {
  cursor: default;
  margin-right: 5px;
  user-select: none;
}

.empty {
  font-family: inherit;
}
