@import '../../shared/reset';

$padding: 10px;

.table {
  border-bottom: 1px solid #c3c2c2;
  padding-top: 45px;
  position: relative;
  overflow-x: auto;
}

.tableHead {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.tableBody {
  font-family: inherit;
}

.tableRow {
  display: flex;
  position: relative;
  z-index: 0;
}

.tableCell {
  align-items: center;
  border: 1px solid #c3c2c2;
  border-width: 1px 0 0 1px;
  display: flex;
  flex-grow: 1;
  padding: $padding;

  &:last-child {
    border-right-width: 1px;
    display: block;
  }
}

.headRow {
  composes: tableRow;
  background: #e7e7e7;
  font-weight: bold;
  height: 45px;

  :global .fa {
    font-size: 12px;
    margin-left: 5px;
  }
}

.headCell {
  composes: tableCell;
}

.groupRow {
  composes: tableRow;
  background: #f2f2f2;
}

.groupCell {
  composes: tableCell;
}

.controlCell {
  composes: tableCell;
  flex: 0 0 ((2 * 20) + (2 * $padding) + (2 * 1));
  text-align: center;
}

.controlCaret {
  cursor: pointer;
  display: inline-block;
  height: 20px;
  text-align: center;
  transition: transform 0.3s ease;
  vertical-align: middle;
  width: 20px;

  :global .fa {
    cursor: pointer;
  }

  &.closed {
    transform: rotate(180deg);
  }
}

.controlPlaceholder {
  display: inline-block;
  height: 20px;
  vertical-align: middle;
  width: 20px;
}

.controlCheckbox {
  cursor: pointer;
  display: inline-block;
  height: 20px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  width: 20px;

  [type=checkbox] {
    cursor: pointer;
    vertical-align: middle;
  }
}

.w50px {
  flex: 1 0 50px;
  min-width: 50px;
}

.w75px {
  flex: 1 0 75px;
  min-width: 75px;
}

.w100px {
  flex: 1 0 100px;
  min-width: 100px;
}

.w125px {
  flex: 1 0 125px;
  min-width: 125px;
}

.w150px {
  flex: 1 0 150px;
  min-width: 150px;
}

.w175px {
  flex: 1 0 175px;
  min-width: 175px;
}

.w200px {
  flex: 1 0 200px;
  min-width: 200px;
}
