@import '../../shared/reset';

$padding: 10px;

.container {
  // background: lightgreen;
  overflow-x: auto;
  position: relative;
  // overflow-y: visible;
  // padding-bottom: 250px;
  width: 100%;
}

.table {
  border-bottom: 1px solid #c3c2c2;
  padding-top: 45px;
  position: relative;
}

.tableRow {
  // background: #a1d99b;
  display: flex;
  padding-right: 100px;
  position: relative;
  z-index: 0;
}

.tableCell {
  align-items: center;
  // background: #c7e9c0;
  border: 1px solid #c3c2c2;
  border-width: 1px 0 0 1px;
  display: flex;
  flex-grow: 1;
  padding: $padding;

  &:last-child {
    border-right-width: 1px;
    margin-left: auto;
  }
}

.headRow {
  composes: tableRow;
  font-weight: bold;
  height: 45px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;

  :global .fa {
    font-size: 12px;
    margin-left: 5px;
  }
}

.headCell {
  composes: tableCell;
  background: #e7e7e7;
}

.groupRow {
  composes: tableRow;
  background: #f2f2f2;
}

.groupCell {
  composes: tableCell;
  // background: #edf8e9;
  font-family: inherit;
}

.controlCell {
  composes: tableCell;
  // background: #41ab5d;
  flex: 0 0 ((2 * 20) + (2 * $padding) + (2 * 1));
  text-align: center;
}

.controlCaret {
  cursor: pointer;
  display: inline-block;
  height: 20px;
  text-align: center;
  transition: transform 0.3s ease;
  vertical-align: middle;
  width: 20px;

  :global .fa {
    cursor: pointer;
  }

  &.closed {
    transform: rotate(180deg);
  }
}

.controlPlaceholder {
  display: inline-block;
  height: 20px;
  vertical-align: middle;
  width: 20px;
}

.controlCheckbox {
  cursor: pointer;
  display: inline-block;
  height: 20px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  width: 20px;

  [type=checkbox] {
    cursor: pointer;
    vertical-align: middle;
  }
}

.sidebar {
  position: absolute;
  right: 0;
  top: 0;
}

.sidebarCell {
  background: #238b45;
  padding: 10px;
  //   border: 1px solid #c3c2c2;
  //   border-width: 1px 1px 0 1px;
    width: 100px;
}

.headSidebarCell {
  composes: sidebarCell;
  background: #238b45;
  // background: #e7e7e7;
}

.groupSidebarCell {
  composes: sidebarCell;
  background: #238b45;
  // background: #e7e7e7;
}

.w50px {
  width: 50px;
}

.w75px {
  width: 75px;
}

.w100px {
  max-width: 100px;
  min-width: 100px;
}

.w125px {
  width: 125px;
}

.w150px {
  flex: 0 0 150px;
  // width: 150px;
  // max-width: 150px;
  // min-width: 150px;
}

.w175px {
  width: 175px;
}

.w200px {
  min-width: 200px;
}
