@import 'RipangaSlider';
@import "./variables";

$headHex: palette(gray, light);
$groupHex: palette(gray, xlight);
$borderHex: palette(gray, base);

$bodyZ: 1;
$headZ: 2;
$stickyZ: 3;

.container {
  box-sizing: border-box;
  overflow: hidden;
  position: relative;

  * {
    box-sizing: border-box;
    cursor: default;
    margin: 0;
    padding: 0;
  }
}

.headContainer {
  border: solid palette(gray, base);
  border-width:1px 0 1px 1px;
  cursor: default;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: $headZ;
}

.bodyContainer {
  border: solid palette(gray, base);
  border-width: 0 0 0 1px;
  overflow: auto;
  z-index: $bodyZ;
}

.head {
  background: palette(gray, light);

  font-size: 11px;
  table-layout: fixed;

  th {
    border-right: 1px solid palette(gray, base);
    font-weight: bold;
    line-height: 20px;
    overflow: hidden;
    padding: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .columnSort {
    white-space: normal;
  }

  .sortable {
    cursor: pointer;
  }

  .label {
    display: inline-block;
    margin-right: 5px;
  }
}

.body {
  position: relative;

  td {
    border-right: 1px solid palette(gray, base);
    border-bottom: 1px solid palette(gray, base);
    font-size: 11px;
    padding: 10px;
    position: relative;
  }
}

.groupRow {
  background: palette(gray, xlight);

  .controls {
    display: inline-block;
    padding: 0 10px;
  }

  .title {
    display: inline-block;
  }

  td {
    padding: 0;
    vertical-align:middle;
  }
}

.caret {
  color: palette(gray, xdark);
  cursor: pointer;
  display: inline-block;
  font-size:11px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  transition: transform 0.2s ease;
  width: 20px;

  &.closed,
  &.disabled {
    transform:rotate(-180deg);
  }

  &.disabled {
    color: palette(gray, base);
    pointer: not-allowed;
  }
}

.groupPane {
  .inside {
    height: 300px;
    max-height: 300px;
    transition: all 0.5s ease;
  }

  .hidden {
    max-height: 0px;
    overflow: hidden;
  }
}

.stickyCell {
  border: solid palette(gray, base);
  border-width: 0 1px 1px 1px;
  text-align:center;
}

.stickyCellGroup {
  composes: stickyCell;
  background: palette(gray, xlight);
  padding: 0;
  text-align:right;
}

.stickyCellHead {
  composes: stickyCell;
  background: palette(gray, light);
  border-top: 1px solid palette(gray, base);
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;
  z-index:$stickyZ;

  .horizontalScroller {
    height: 14px;
    left: 50%;
    margin-left: -40px;
    margin-top: -7px;
    padding: 0;
    position: absolute;
    top: 50%;
    width:80px;
  }
}

.stickyCellPane {
  border: solid palette(gray, base);
  border-width: 0 0 0 1px;
}

.stickyContainer {
  background: #fff;
  border-top: 1px solid palette(gray, base);
  position: absolute;
  overflow: hidden;
  right: 0;
  top: 0;
  width: 110px;
}
