@import '../../shared/variables';

.container {
  background: lightgreen;
  box-sizing: border-box;
  position: relative;

  * {
    box-sizing: border-box;
  }
}

.tiers {
  background: turquoise;
}

.quickAdder {
  background: salmon;
}

.dropdownHead {
  background: gold;
  display: flex;
}

.dropdownBody {
  background: lightgrey;
  max-height: 0;
  overflow: hidden;
  position: absolute;
  transition: max-height 0.2s ease, border 0.2s ease;
  width: 100%;

  &.expanded {
    height: auto;
    max-height: 310px;
  }
}

.dropdownHeadIcon {
  background: cornflowerblue;
  cursor: pointer;
  height: 24px;
  line-height: 24px;
  text-align: center;
  width: 24px;

  &:hover {
    background: grey;
  }
}

.caret {
  composes: dropdownHeadIcon;
}

.check {
  composes: dropdownHeadIcon;
}

.input {
  flex-grow: 1;
}

.item {
  padding: 5px;
}
